body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    background-color: #fafafa;
    color: #3d5371; /*I adjusted this aside the instructions*/
    text-align: center;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

h2 {
    color: #3d5371; /*I adjusted this aside the instructions*/
    text-align: left;
    grid-column: span 2;
}

article p {
    text-align: justify;
}

.callout {
    padding: 1rem;
    color: #fafafa;
    background-color: #3d5371;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}