* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: rgb(79, 12, 142);
    --heading-text-color: white;
}

body {
    font-family: "Roboto", sans-serif;
}
/* HEADER */
header {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;}

/* HAMBURGER */
#menu {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--heading-text-color);
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

/* NAVIGATION */
nav {
    /* position: absolute;
    top: 4rem;
    left: 0; */
    display: flex;
    width: 100%;
}

.navigation {
    list-style: none;
    background-color: var(--heading-background-color);
}

.navigation li a {
    display: none;
    color: var(--heading-text-color);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
}

.navigation li a:hover {
    background: #bbb;
    color: #333;
    border-radius: .5rem;
}

.navigation.open li a {
    display: block;
}

.navigation.home {
    color: var(--heading-background-color);
}


/* MAIN and CARD styles*/
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin: .5rem;
    padding: .5rem;
}


/* Individual Card Styling (figure element in JS) */
.temple-card {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.temple-card img {
    width: 100%;
    height: auto;
    display: block;
    flex-grow: 1;
    object-fit: cover;
}

.temple-card figcaption {
    padding: 15px;
    text-align: center;
}

.temple-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: var(--heading-background-color);
}

.temple-card p {
    font-size: 0.8rem;
    color: #555;
    margin: 5px 0;
}

/* FOOTER */
footer {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0.5rem 0;
    min-height: 1.5rem;
}